body{
    background-color: rgb(66, 20, 110);
}

.global-ttl__text{
    font-size: 50px;
    color: salmon;

}

.global-ttl__url{
    content: "\A";
    font-size: 30px;
    color: salmon;
}