body{
    background-color: rgb(3, 36, 109);
}
.global-header{
    position: absolute;
    width: 100%;
}
.gloval-ttl{
    position: fixed;
    top: 5vw;
    left: 6vw;
    z-index: 100;
}
.global-ttl__text{
    display: block;
    font-weight: 400;
    letter-spacing: .08em;
    margin-bottom: 5px;
    font-size: 50px;
    color: palevioletred;
}
.global-menu__ttl{
    font-size: 20px;
    font-weight:100;
    color:blanchedalmond;
}

.global-ttl__url{
    display: block;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 30px;
    color: palevioletred;
}

.menu-en{
    font-size: 30px;
    font-weight: 300;
    color:palevioletred;
    letter-spacing: .4em;
}
.my-hp{
    color:palevioletred;
}

#products{
    cursor: pointer;

}
.is-open{
    display: none;
}
.is-open02{
    display: none;
}